extends layout.pug
block content

    h1 Order Service:
    div(class="container")
            h5 Service Name:
            label=servItem[0].serviceName
            h5 Description:
            label=servItem[0].description
            h5 Seller:
            label=userSeller[0].firstName + " " + userSeller[0].lastName
            h5 Price:
            label=servItem[0].price
            form(action='/orderServiceTransaction' method="POST")
                
                    input.hidden(type="hidden" value=servItem[0].serviceName name='serviceName')
                    input.hidden(type="hidden" value=servItem[0].serviceId name='serviceId')        
                    input.hidden(type="hidden" value=servItem[0].description name='description')
                    input.hidden(type="hidden" value=servItem[0].userId name='userId')
                    input.hidden(type="hidden" value=servItem[0].price name='price')    
                    input.hidden(type="hidden" value=userSeller[0].id name='sellerId')        
                    input.hidden(type="hidden" value=userSeller[0].firstName + " " + userSeller[0].lastName name='sellerName')
                    button.btn.btn-primary(type="submit") Buy Now